

/* ==========================================================================
   fancystudio's custom styles
   ========================================================================== */


@font-face {
    font-family: 'sansita_oneregular';
    src: url('../fonts/sansitaone-webfont.eot');
    src: url('../fonts/sansitaone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansitaone-webfont.woff') format('woff'),
         url('../fonts/sansitaone-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dk_crayon_crumbleregular';
    src: url('../fonts/crayon_crumble-webfont.eot');
    src: url('../fonts/crayon_crumble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crayon_crumble-webfont.woff') format('woff'),
         url('../fonts/crayon_crumble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html body{
	height: 100%
}

body{
	font-size: 12px;
}

h3, .h3 {
font-size: 17px;
font-weight: 400;
}

a {
   outline: 0 !important;
}

#section0, #section1, #section2, #section3, #section4, #section5{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

#section0{
	background-image: url(../img/home-bg.jpg);
}

#section1{
	background-image: url(../img/onas-bg.jpg);
}

#section2{
	background-image: url(../img/jedalny-bg.jpg);
}

#section4, #section3 {
	background-image: url(../img/nauc-sa-bg.jpg);
}


/* ==========================================================================
   fancystudio's navigácia
   ========================================================================== */

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.nav{
	font-family: sansita_oneregular;
	color: #434444;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .active, li.active {
	color: #df3759 !important;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #df3759;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #434444;
	font-size: 17px;
}

.hlavna-navigacia{
	background: url(../img/menu/menu-bg.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	float: none !important;
	margin: 0 auto;
	max-width: 735px;
	text-align: center;
	position: relative;
	box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.56);
	-webkit-box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.56);
	-moz-box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.56);
	-ms-box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.56);
	-o-box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.56);
	box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.56);
	margin-top: 5%;
}

.navbar-nav>li>a {
	padding: 15px 20px 15px 20px;
}

.navbar-nav>li {
	display: inline-block;
	float: none;
}


.top-strip, .bottom-strip, .left-strip, .right-strip {
	position: absolute
}

.top-strip{
	background: url(../img/menu/tb-strip.png) repeat-x;
	display: block;
	height: 2px;
	top: 6px;
	left: 10px;
	right: 10px;
}

.bottom-strip{
	background: url(../img/menu/tb-strip.png) repeat-x;
	display: block;
	height: 2px;
	bottom: 6px;
	left: 10px;
	right: 10px;
}

.left-strip{
	background: url(../img/menu/lr-strip.png) repeat-y;
	display: block;
	width: 2px;
	top: 6px;
	bottom: 6px;
	left: 10px;
}

.right-strip{
	background: url(../img/menu/lr-strip.png) repeat-y;
	display: block;
	width: 2px;
	top: 6px;
	bottom: 6px;
	right: 10px;
}

.left-ribbon{
	display: block;
	width: 100px;
	height: 63px;
	background: url(../img/menu/left-ribbon.png) no-repeat;
	position: absolute;
	left: -53px;
	bottom: -23px;
	z-index: -1;
}

.right-ribbon{
	display: block;
	width: 100px;
	height: 63px;
	background: url(../img/menu/right-ribbon.png) no-repeat;
	position: absolute;
	right: -53px;
	bottom: -23px;
	z-index: -1;
}

/* ==========================================================================
   fancystudio's content
   ========================================================================== */

.content{
	margin-top: 2%;
	color: white;
	font-size: 14px;
	text-align: center
}

.content h1 img{
	padding-bottom: 35px;
}

.onas{
	padding-bottom: 9%;
}

.onas .ikona{
	padding-bottom: 50px;
	padding-top: 50px;
}

.jedalny img{
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;   
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;  
    overflow:hidden;
    margin-top: 50%;
}



.jedalny img:hover{
	-webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}


.jedalny-items {
	height: 100%;
	position: relative;
	width: 100%;
	display: block;
	float: left;
	margin-top: 4%;
	padding-bottom: 10%;
	font-family: dk_crayon_crumbleregular;
}

.listok img.img-responsive{
	max-width: 110%
}

.specialita-dna{
	display: inline-block;
	position: relative;
}


.specialita-dna .inner-content{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 6%;
}

.inner-content p {
	text-transform: uppercase;
	font-size: 16px;
}

.inner-content h2 {
	text-transform: uppercase;
	font-size: 36px;
}

.inner-content h3{
	font-size: 20px;
	padding-bottom: 15px;
}

/* ==========================================================================
   fancystudio's nauč sa chefovať
   ========================================================================== */

.blog h1{
	text-align: center;
	margin-top: 0px
}

.blog .article{
	background: url(../img/blog/article-bg.jpg);
	background-size: cover;
	min-height: 195px
}

.blog .article h2{
	margin-top: 10px;
	line-height: 1.4;
}

.blog .article h2 a{
	color: #4b7d83;
	text-decoration: none;
	font-weight: 800;
	font-size: 24px;
	margin-top: -5px;
}

.blog .article h2 span{
	width: 100%;
	height: 1px;
	display: block;
	background: url(../img/blog/dashed.png) repeat-x;
}

.blog .article p{
	color: #707070;
}

.blog .article-date{
	color: #cf4362 !important;
	font-size: 10px;
}

.blog .article-date img{
	margin-right: 10px
}

.blog .btn-xs {
	background-color: #cf4362;
	color: white;
	border: none;
	padding: 4px 10px;
	margin-bottom: 15px;
}

.blog .btn-xs:hover {
	background-color: #aa3a53;
}

.thumbnail {
	border-radius: 0px;
	/*background-color: #e3dadc*/
}

/* ==========================================================================
   fancystudio's galeria
   ========================================================================== */

.slidesContainer{
	text-align: center;
}

.galeria{
	height: 100%
}

.controlArrow {
	top: 52%;
}

.slide{
	display: table;
}

.table-cell{
	display: table-cell;
	vertical-align: middle;
}

.table-cell img {
	max-width: 100%;
	height: auto;
	border: solid white 7px;
}

#section3 h1 {
	position: absolute;
	top: 130px;
	left: 50%;
	margin-left: -75px;
}

.fullPage-slidesNav.bottom {
	bottom: 17px;
	width: 100%;
	text-align: center;
	left: none;
}




/*
	.blog .blog-img{
	padding-left: 0px;
	padding-right: 0px;
}
	
*/

